html {

	/* COLOR TINTS */

	--color-blue-darkest: #0C3490;
	--color-blue-darkest-rgb: 12, 52, 144;

	--color-blue-dark: #2A4D9E;
	--color-blue-dark-rgb: 42, 77, 158;

	--color-blue-mid-dark: #4967AC;
	--color-blue-mid-dark-rgb: 73, 103, 172;

	--color-blue-mid: #6780BA;
	--color-blue-mid-rgb: 103, 128, 186;

	--color-blue-mid-light: #869AC8;
	--color-blue-mid-light-rgb: 134, 154, 200;

	--color-blue-light: #A4B3D5;
	--color-blue-light-rgb: 164, 179, 213;

	--color-blue-lightest: #C2CCE3;
	--color-blue-lightest-rgb: 194, 204, 227;

	--color-blue-ultralight: #E1E6F1;
	--color-blue-ultralight-rgb: 225, 230, 241;

	/* PAGE SETTINGS */

	--background-color: var(--color-blue-ultralight);
	--base-white: #ffffff;
	--base-black: #0d0d0d;
	--text-light: #f7f7f7;
	--text-dark: var(--base-black);
	--font-size-max: 16px;
	--font-size-min: 12px;

	--padding-main: 1rem;

	/* FONT SETTINGS */

	--font-xxl: 2.0273rem;
	--font-xl: 1.8020rem;
	--font-lg: 1.6018rem;
	--font-md: 1.4238rem;
	--font-sm: 1.2656rem;
	--font-xs: 1.1250rem;

	--line-height-xxl: 1.650;
	--line-height-xl: 1.4875;
	--line-height-lg: 1.4875;
	--line-height-md: 1.375;
	--line-height-sm: 1.375;
	--line-height-xs: 1.250;

	/* ANIMATION TIMERS */
	--button-flip-time: 450ms;

	/* BASE FONT SETTING */
	font-size: var(--font-size-min);
}

@media only screen and (min-width: 450px) {
	html {
		  font-size: calc(var(--font-size-min) + (16 - 12) * (100vw - 500px) / (1920 - 500));
	}
  }

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

  .main-container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
  }

  /* TABLE */

  table,
  table tr,
  tr td,
  table tbody,
  table thead,
  table tfoot,
  table tr th,
  table tfoot tr tf {
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	background-image: none;
	vertical-align: baseline;
  }

  table {
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
  }

  th,
  td {
	vertical-align: bottom;
  }

/* BUTTON */

  .btn,
button {
  transition: all 300ms ease-in-out;
  border-width: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  cursor: pointer;
}

/* FONT SETTINGS */

h1, .h1 {
	font-size: var(--font-xxl);
	line-height: var(--line-height-xxl);
}

h2, .h2 {
	font-size: var(--font-xl);
	line-height: var(--line-height-xl);
}

h3, .h3 {
	font-size: var(--font-lg);
	line-height: var(--line-height-lg);
}

h4, .h4 {
	font-size: var(--font-md);
	line-height: var(--line-height-md);
}

h5, .h5 {
	font-size: var(--font-sm);
	line-height: var(--line-height-sm);
}

h6, .h6 {
	font-size: var(--font-xs);
	line-height: var(--line-height-xs);
}

p {
	font-size: var(--font-sm);
	line-height: var(--line-height-sm);
}